celery==5.2.7
Django==3.2.16
django-allauth==0.53.1
django-debug-toolbar==3.8.1
django-environ==0.10.0
django-extensions==3.2.1
django-redis==5.2.0
djangorestframework==3.14.0
drf-yasg==1.21.5
flake8==6.0.0
isort==5.12.0
itypes==1.2.0
Pillow==9.4.0
psycopg2==2.9.5
PyJWT==2.6.0
redis==4.5.2
stripe==5.2.0
whitenoise==6.4.0
